body {
    padding: 20px;
}

#slamSlider, #superSlider, #slashSlider, #comboSlider {
    margin-left: 15px;
    margin-right: 15px;
}

#mainTable {
    margin: auto;
    width: 100%;
    max-width: 400;
}